<div class="curtain-img">
  <%= image_tag("theater.jpg") %>
</div>
<h3>Your Lists</h3>
<ul>
  <% if @lists %>
    <% @lists.each do |list| %>
    <% if list.photo.attached? %>
      <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
      <li>
        <%= link_to list.name, list_path(list) %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Make a New List", new_list_path, class: "btn btn-primary" %>
